@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="card col-md-12">
    <p class="text-center">@Model</p>
    <div>
        <nav>
            <a asp-controller="Home" asp-action="Create">Зайти в index</a>
        </nav>
    </div>

    
</div>
