
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #88aaeb; /* Серый фон */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #21b641;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #2980b9;
    }

.priv {
    background: linear-gradient(135deg, #58d6df, #3697f1); /* Градиент фона */
    padding: 20px;
    border-radius: 15px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для объёма */
    color: white; /* Цвет текста */
    text-align: center;
    max-width: 600px; /* Ширина */
    margin: 20px auto; /* Центровка */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный переход для эффектов */
}
/* Основной контейнер */
.rules {
    padding: 20px;
    border: 2px solid rgb(14, 23, 110);
    border-radius: 15px;
    border-color: #2023bd;
}

    /* Заголовок */
    .rules p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
        color: #333;
        text-align: center;
    }

/* Стили для списка */
.rule-list {
    padding: 0;
    margin: 0 0;
}

    .rule-list li {
        text-align: left;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #146a92;
        border-radius: 4px;
    }

.prif {
    padding: 0px !important;
    margin-bottom: 4px !important;
    border-radius: 0px !important;
}

textarea {
    width: 100%; /* Задает ширину поля */
    resize: vertical; /* Разрешает изменение размера только по вертикали */
    min-height: 100px; /* Минимальная высота */
    max-height: 400px; /* Максимальная высота */
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

